.not-found {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found h1 {
  margin-bottom: 10px;
}

.not-found h2 {
  margin-bottom: 10px;
}

.not-found a {
  text-decoration: none;
  font-weight: bold;
  background-color: #02d495;
  color: #fff;
  padding: 10px 14px;
  border-radius: 4px;
}